	.container{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

.board-container{
	flex: 1 1 100%;
	margin: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
}

.board-container::after {
	content: "";
	flex: auto;
}

.board-wrapper{
	display:flex;
	flex: 0 0 25%;
	box-sizing: border-box;
	padding: 0.5em;
}


.board{
	flex: 1;
	padding: 1em;
	justify-content: space-between;
	display: flex;
	background: #ffffff;
	text-align: left;
	border-radius: 5px;
	color: black;
	font-weight: bold;
}

.new-board{
	height: 34px;
	background: #54acff;
}
.new-board a{
	color: blue;
}

.board input{
	flex: 1;
	width: 60%;
	padding: 5px;
	border: none;
}
.board-title{
	width: 100%;
	padding: 0px 10px;
	color: black;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: left;
	font-weight: bold;
	font-size: 25px;
}
.editForm{
	width: 30px;
}

.deletebtn{
	padding: 10px;
	color: white;
	border-radius : 2px;
	background-color: rgb(233, 17, 35);
}
.deletebtn:hover{
	background-color:  rgb(119, 15, 20);
}
.editbtn{
	padding: 10px;
	color: white;
	border-radius : 2px;
	margin-right: 5px;
	background-color: rgb(50, 201, 45);
}
.editbtn:hover{
	background-color: rgb(19, 95, 17);
}

.boardlink{
	flex: 1;
	padding: 0px 10px;
	margin-right: 10px;
	color: black;
	font-weight : bold;
	text-align: left;
	font-size: 17px;
	border-radius : 2px;
	transition: 0.3s;
	background-color: white;
}
.boardlink:hover{
	border: 1px solid rgb(66, 66, 66);
}
.cancelbtn{
	padding: 10px;
	color: black;
	border-radius : 2px;
	background-color: rgb(212, 212, 212);
}
.cancelbtn:hover{
	background-color: rgb(119, 119, 119);
}